---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Oxygen, Helvetica, Arial, sans-serif;

$huge-font-size: xx-large;
$title-font-size: x-large;
$large-font-size: large;

$base-font-size:   medium;
  // >>
    $block-font-size: larger;
$small-font-size:  small;
$code-font-size: small;


$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FAFAFA;
$background-color: #222;
$brand-color:      #90DA94;
$grey-discrete: #848484;
$header-color: rgb(46, 46, 46);
$grey-color:       #CECECE;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout",
        "syntax-highlighting"
;

#curriculum-page {
  background-color: white;
  color: rgb(30, 30, 30);
  padding: 2em 2vw 3em 2vw;
  @media screen {
    box-shadow: 4px 6px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid black;
  }


  a {
    color: darken(blue, 15%);
  }
  a:hover {
    color: blue;
  }

  dd {
    position: relative;
    padding-left: 12pt;

    @media only screen and (min-width: 768px) {
      padding-left: 18pt;
    }

    transition: height 1s ease;

    > .wrapped {
      position: relative;
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      transition: transform .5s ease, visibility .5s ease, opacity .2s ease .3s;
      margin-bottom: 0;
    }

    .toggle {
      display: inline-block;
      position: absolute;

      &.full {
        display: block;
        position: relative;
        text-align: right;
      }

      right: 0; bottom: 0;
      font-size: smaller;
      color: rgba(0, 0, 0, 0.4);

      &:hover {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: underline;
      }

      &:before {
        cursor: pointer;
        content: 'ocultar';
      }

      @media print {
        display: none !important;
      }
    }

    &.zip {
      > .wrapped {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform .3s ease, visibility 0s ease, opacity 0s ease;
      }
      .toggle:before {
        content: 'expandir';
      }
    }
  }
  dl {
    padding: 0 1em;
  }
  dt {
    &:before {
      content: ' ';
      display: block;
    }

    &.inline {
      display: inline;
      font-weight: 600;
      &:after {
        content: ' - ';
      }
      & + dd {
        display: inline;
        padding-left: 0;
      }
    }
  }

  .carousel {

    a.nv {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      width: 3.5em;
      text-align: center;
      height: 3.5em;
      line-height: 3.5em;
      border-radius: 100%;
      background-color: white;
      box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
      color: lighten(black, 25%);
      font-weight: 700;
      font-size: 12pt;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      transition: opacity .3s ease;
      opacity: .5;

      &:hover {
        opacity: .9
      }

      &.p {
        left: -2em;
      }

      &.n {
        right: -2em;
      }
    }

    .caption {
      box-sizing: border-box;
      width: 95%;
      margin: 0 auto;
      background-color: rgba(254, 255, 233, 0.2);
      padding: 1em 2em;
      text-align: center;
      font-size: 11pt;
      border-radius: 4px;
      border: 1px solid rgb(220, 220, 220);
      box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
  }

  #EngCarousel {
    height: auto;
    margin-top: 16pt;
  }
}


.no-print {
  @media print {
    display: none !important;
  }
}