---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Oxygen, Helvetica, Arial, sans-serif;

$huge-font-size: xx-large;
$title-font-size: x-large;
$large-font-size: large;

$base-font-size:   medium;
  // >>
    $block-font-size: larger;
$small-font-size:  small;
$code-font-size: small;


$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FAFAFA;
$background-color: #222;
$brand-color:      #90DA94;
$grey-discrete: #848484;
$header-color: rgb(46, 46, 46);
$grey-color:       #CECECE;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout",
        "syntax-highlighting"
;